<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
    </style>
  </head>

  <body>
    <img src="data:image/png;base64,<%= @image %>" />
    <table border=1>
      <tr><th>#</th><th>payloads</th></tr>
    <% idx=1 %>
    <% @jsons.each do |json| %>
      <tr><td><%= idx %></td><td><%= json %></td></tr>
      <% idx+=1 %>
    <% end %>
    </table>
  </body>

</html>
